.box {
    text-align: center;
    height: 69px;
    width: 1175px;
}
.inline-block {
    display: inline-block;
    height: 78px;
    margin-left: 2px;
}
.search-box {
    border-width: 0.1px;
    border-style: inset;
    border-color: rgb(92, 88, 88);
    border-image: initial;
    width: 309px;
    height: 18px;
    padding: 1px 2px;
    cursor: text;
    background-color: white;
    box-shadow: 1px 0 rgb(138, 135, 135);
    display: inline-block;
    text-align: left;
}
.column-bir {
    background-color: #7EE5DA; width: 33%;
    display: flex; align-items: center;
}
.column-iki {
    background-color:#70CCC2; width: 17%;
    font-size: 13px;
}
.column-uc {
    background-color:#62B3AA; width: 39.3%;
    font-size: 13px;
}
.footer{
    text-align: center;
    font-size: 13px;
}